[submodule "vundle"]
	path = vim/vim.symlink/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "vim-colorschemes"]
	path = vim/vim.symlink/bundle/vim-colorschemes
	url = git://github.com/flazz/vim-colorschemes.git
[submodule "vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim-powerline"]
	path = vim/vim.symlink/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim.symlink/bundle/vim-git-branch-info"]
	path = vim/vim.symlink/bundle/vim-git-branch-info
	url = git://github.com/taq/vim-git-branch-info.git
